[flake8]
max-line-length = 100
extend-ignore = E203, E266, E501, W503, W504
exclude =
    .git,
    __pycache__,
    .venv,
    .env,
    build,
    dist,
    .eggs,
    *.egg,
    node_modules,
    .mypy_cache,
    .pytest_cache

per-file-ignores =
    __init__.py: F401, F403

count = True
statistics = True
